@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold-webfont.svg#OpenSans') format('svg');
  font-weight: bold;
  font-style: normal;
}