@import "mixins";
@import "variables";

/* Document */
body {
  color: $dark;
  background: $white;
  font-family: 'OpenSans', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Global Elements */
a {
  color: $secondary;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
    color: $secondaryLight;
  }
}
img {
  border: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input[type="text"] {
  display: block;
  height: 40px;
  line-height: 40px;
  text-indent: 6px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  @include box-sizing();
}
label {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.2em;
}

/* Components */
button, .button {
  background: $secondary;
  color: $white;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  @include border-radius(6px);
  &:hover {
    background: $secondaryLight;
    color: $white;
  }
  &.expand {
    display: block;
  }
  &.large {
    font-size: 1.4em;
    font-weight: bold;
  }
  i:first-child {
    margin-right: 4px;
  }
  i:last-child {
    margin-left: 4px;
  }
  .icon-checkmark {
    display: none;
  }
  &.active .icon-checkmark {
    display: inline-block;
  }
}
button.expand {
  width: 100%;
}
.message {
  margin: 10px 0;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 12px;
  overflow: hidden;
  @include animation(growInDown 1s);
  &.success {
    background: $greenLight;
    color: $greenDark;
  }
  ul {
    margin-left: 18px;
    list-style-type: disc;
  }
}
.hide {
  display: none;
}
.grow-in-down {
  @include animation(growInDown 1s);
}

.input-group {
  @include clearfix();
  input {
    float: left;
    width: 70%;
    margin-right: -1px;
    border: 1px solid #ccc;
    border-right: none;
  }
  a {
    float: right;    
    display: block;
    width: 30%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $secondary;
    color: $white;
    @include border-radius(0px 6px 6px 0px);
    @include box-sizing();
    &:hover {
      background: $secondaryLight;
    }
  }
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;   
  bottom: 50%;
  left: 100%;
  @include opacity(0);
  pointer-events: none; 
}
[data-tooltip]:before {
  display: block;
  height: 20px;
  line-height: 20px;
  margin-bottom: -10px;
  margin-left: 5px;
  background: rgba($dark, 0.9);
  color: #fff;  
  text-align: center;
  font-size: 12px;
  content: attr(data-tooltip);
  white-space: nowrap;
  padding: 0 6px;
  @include box-sizing();
  @include border-radius(3px);
}
[data-tooltip]:after {
  margin-left: 0px;
  margin-bottom: -5px;
  width: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid rgba($dark, 0.9);
  border-bottom: 5px solid transparent;  
  content: " ";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  @include opacity(1);
}
