@import "mixins";
@import "variables";

/* Document */
body {
  color: $dark;
  background: $white;
  font-family: 'OpenSans', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Global Elements */
a {
  color: $secondary;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
    color: $secondaryLight;
  }
}
img {
  border: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  display: block;
  height: 40px;
  line-height: 40px;
  text-indent: 6px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  @include box-sizing();
}
label {
  display: block;
  margin: 20px 0 10px;
  font-size: 1.2em;
}

/* Components */
button, .button {
  background: $secondary;
  color: $white;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  text-align: center;
  display: inline-block;
  border: none;
  @include border-radius(6px);
  &:hover {
    background: $secondaryLight;
    color: $white;
  }
  &.expand {
    display: block;
  }
  &.large {
    font-size: 1.4em;
    font-weight: bold;
  }
}
button.expand {
  width: 100%;
}
.message {
  margin: 10px 0;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 12px;
  overflow: hidden;
  @include animation(growInDown 1s);
  &.success {
    background: $greenLight;
    color: $greenDark;
  }
}
.hide {
  display: none;
}
.grow-in-down {
  @include animation(growInDown 1s);
}

.input-group {
  @include clearfix();
  input {
    float: left;
    width: 70%;
    margin-right: -1px;
    border: 1px solid #ccc;
    border-right: none;
  }
  a {
    float: right;    
    display: block;
    width: 30%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: $secondary;
    color: $white;
    @include border-radius(0px 6px 6px 0px);
    @include box-sizing();
    &:hover {
      background: $secondaryLight;
    }
  }
}
