@import "mixins";
@import "variables";

.form-wrapper {
  width: 100%;
  padding: 20px;
  max-width: 800px;
  margin: 10px auto;
  @include box-sizing();
}

.form-tab-links {
  
  .tab-link {
    
  }
}

.form-tabs {
  
  .form-tab {
    
  }
}

.tab-list {
  
  li {
    
  }
}

.select-wrapper {
  
  .button {
    
  }
}
