/* Palette */
$white: #fff;
$brown: #2d2811;
$tan: #a79e65;
$tanLight: #e8ddc2;
$beige: #f2e9b8;
$blue: #5f9da1;
$blueLight: #73afb6;
$green: #83b573;
$greenLight: #e6f7e1;
$greenDark: #235612;

/* Site colors */
$dark: $brown;
$medium: $tan;
$light: $beige;
$secondary: $blue;
$secondaryLight: $blueLight;

/* Breakpoints */
$breakTiny: 480px;
$breakSmall: 768px;
$breakMedium: 940px;
$breakLarge: 1200px;
