@import "mixins";
@import "variables";
@import "keyframes";
@import "fonts";
@import "vendor/normalize.css";

/* Document */
body {
  color: $dark;
  background: $light;
  font-family: 'OpenSans', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* Global Elements */
a {
  color: $secondary;
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
    color: $secondaryLight;
  }
}
img {
  border: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Components */
.button {
  background: $secondary;
  color: $white;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  text-align: center;
  display: inline-block;
  &:hover {
    background: $secondaryLight;
    color: $white;
  }
  &.expand {
    display: block;
  }
  &.large {
    font-size: 1.4em;
    font-weight: bold;
  }
}

/* Scaffold */
.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: auto;
  background: $dark;
  color: $white;
  padding: 1em;
  @include transition(width 0.5s);
  @include box-sizing();
  h1 span {
    color: $light;
  }
  @media (max-width: $breakLarge) {
    width: 30%;
  }
  @media (max-width: $breakSmall) {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    h1 {
      margin-top: 0;
    }
  }
}
.main {
  width: 80%;
  height: 100%;
  top: 0;
  left: 20%;
  position: fixed;
  @include transition-list(width 0.5s, left 0.5s);
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-size: cover;
  }
  @media (max-width: $breakLarge) {
    width: 70%;
    left: 30%;
  }
  @media (max-width: $breakSmall) {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    min-height: 400px;
  }
}

.canvas-wrapper,
.svg-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  canvas,
  svg {
    -webkit-backface-visibility: initial !important;
    -webkit-transform-origin: 50% 50%;
  }
}
