/* Palette */
$white: #fff;
$brown: #2b2301;
$tan: #a79e65;
$beige: #e2d893;
$blue: #5f9da1;
$blueLight: #73afb6;

/* Site colors */
$dark: $brown;
$medium: $tan;
$light: $beige;
$secondary: $blue;
$secondaryLight: $blueLight;

/* Breakpoints */
$breakTiny: 480px;
$breakSmall: 768px;
$breakMedium: 940px;
$breakLarge: 1200px;
